/* Кнопка */
.button {
    min-width: 200px;
    height: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0;
    // padding: 10px 24px;
    @include font-style ($font-family: "Roboto", $font-weight: 700, $font-size: 16px, $line-height: calc(30 / 16), $letter-spacing: 0.06em, $background-color: none, $color: none);
    color: $logo-footer;
    border-radius: 4px;
    background-color: $accent-color;
    border: 0;
    box-shadow: $hero-box-shadow;
    cursor: pointer;
    @include transition ($transition-property: background);

    &:active {
        background: $hero-button-active;
    }
}

.btn-send {
    display: inline-flex;

    width: 200px;
    // height: 50px;
    color: $white;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:active {
        background: $hero-button-active;
    }

    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
    }

    &__icon {
        fill: $page-background;
        margin-left: 12px;
    }

    &--for-modal {
        padding: 0;
        margin-top: 30px;
        /* display: inherit; */
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 50px;
        color: $white;
        background: $accent-color;
        @include transition ($transition-property: background);
    }

    &--for-modal:hover,
    &--for-modal:focus {
        background: $hero-button-active;
    }

}