.clients-list {

  // База

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;

    border: 1px solid $clients;
    border-radius: 4px;
    @include transition($transition-property: (border,
        fill,
      ));
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accent-color;
  }

  &__icon {
    fill: $clients;
    @include transition($transition-property: (border,
        fill,
      ));
  }


  @media screen and (max-width: 767px) {

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }


  @media screen and (min-width: $tablet) {

    &__item {
      flex-basis: calc((100% - (4*15px)) / 3);
    }
  }

  @media screen and (min-width: $desctop) {

    &__item {
      flex-basis: calc((100% - (10*15px)) / 6);
    }

  }


}