.contacts-list {
    margin-left: auto;
    // gap: 30px;
}

.contacts-list__link {
    // display: inline-flex;
    // align-items: center;
    // gap: 10px;
    @include font-style($font-weight: 500, $letter-spacing: 0.02em, $color: $priority-text-color);
    @include transition($transition-property: color);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &__icon {
        color: $priority-text-color;
        @include transition($transition-property: color);
    }

    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
        fill: $accent-color;
    }

}