body {
    @include font-style ($font-family: 'Roboto', $font-weight: 400, $font-size: 14px, $line-height: calc(24/14), $letter-spacing: 0.03em, $background-color: $page-background, $color: $priority-text-color);
    margin: 0%;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100vh;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }


}