.features-list {
  // display: flex;

  // align-items: normal;
  // justify-content: space-between;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

}


  &__item {
    margin-bottom: 30px;
    
    @media screen and (min-width: 768px) {
      width: 50%;
      
    }
  }


  /* Заголовки h3 Секции "Особенности"*/
  &__subtitle {
    margin-bottom: 10px;
    // font-size: 14px;
    // line-height: calc(16/14);
    text-align: center;
    text-transform: uppercase;
    color: $title-text-color;
  }

  /* текст Секции "Особенности" */
  &__text {
    width: 450px;
    line-height: calc(24/14);
  }

}

/* Иконки секции Особливості через SVG*/

.wrapper-icon {
  display: flex;
  align-items: normal;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: $team-background;
}

