.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $hero-footer-background;

    &__container {
        display: flex;
        align-items: center;
        text-align: center;
        flex-flow: column wrap;
        gap: 60px;

        @media screen and (min-width: $tablet) {
            justify-content: space-around;
            flex-flow: row wrap;
            align-items: baseline;
            
        }

        @media screen and (min-width: $desctop) {
            flex-flow: unset;
            text-align: left;
            justify-content: left;
            gap: 70px;
            align-items: baseline;
        }
    }

    &__text {
        text-align: center;
        font-weight: 700;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: $hero;

        @media screen and (min-width: $desctop) {
            text-align: left;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 20px;
        align-items: center;

        @media screen and (min-width: $tablet) {
            text-align: center;
            width: 45%;

        }

        @media screen and (min-width: $desctop) {
            text-align: left;
            align-items: unset;
            // width: 45%;??

        }

        &-form {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100%;

            @media screen and (min-width: $desctop) {
                flex-flow: column;
                align-items: flex-start;
            }
        }
    }
}


.address {
    @media screen and (max-width: $desctop) {
        &__item:not(:first-child) {
            margin-top: 8px;
        }
    }

    @media screen and (min-width: $desctop) {
        &__item:not(:first-child) {
            margin-top: 9px;
        }
    }

    &__link {
        font-style: normal;
        line-height: 1.7;
        color: $white;

        &--footer-color {
            color: $address-color;
        }

        &--footer-color:hover,
        &--footer-color:focus {
            color: $accent-color;
            @include transition ($transition-property: color);
        }
    }
}