.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $hero-footer-background;

    &__container {
        display: flex;
        align-items: center;
        text-align: center;
        flex-flow: column wrap;
        gap: 60px;

        @media screen and (min-width: $tablet) {
            justify-content: space-around;
            flex-flow: row wrap;
            align-items: baseline;
        }

        @media screen and (min-width: $desctop) {
            flex-flow: unset;
        }
    }


    &__text {
        text-align: center;
        font-weight: 700;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: $hero;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: $tablet) {
            width: 45%;
        }

        &-form {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100%;
        }
    }
}

.address {
    margin-top: 4px;

    &__item--margin-top {
        margin-top: 8px;
    }

    &__link {
        font-style: normal;
        line-height: 1.7;
        color: $white;

        &--footer-color {
            color: $address-color;
        }

        &--footer-color:hover,
        &--footer-color:focus {
            color: $accent-color;
            @include transition ($transition-property: color);
        }
    }
}