.form-mail {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desctop) {
    width: 100%;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
  }

  &__input {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $hero-footer-background;
    padding: 15px 16px;
    color: $form-mail-plh;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      transition-property: border;
      @include transition();
    }
  }

  &__label {
    @media screen and (min-width: $desctop) {
      margin-left: -15px;
    }

  }
}