.logo {
  @include font-style(
    $font-family: "Raleway-Bold",
    $font-weight: 700,
    $font-size: 24px,
    $line-height: calc(28 / 24),
    $letter-spacing: 0.03em,
    $color: $accent-color
  );
  background: none;
  display: flex;
  align-items: center;
  height: 60px;
}

.header__logo {
  color: $logo-header;
}

.footer__logo {
  color: $logo-footer;
  background: $hero-footer-background;
}

@media screen and (min-width: 480px) {
  // .logo {
  //   padding: 16px auto 16px 15px;
  //   margin: 16px 0;
  // }

  .header__logo {
    color: $logo-header;
  }

  .footer__logo {
    color: $logo-footer;
    background: $hero-footer-background;
    margin: 0;
  }
}

// @media screen and (min-width: 768px) {}
