.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;

    @include transition ((opaciti, visibility));
    backdrop-filter: blur(10px);
}

.modal {
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
    margin: auto;

    width: 450px;
    height: 609px;
    padding: 40px;

    background-color: $hero;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include transition ($transition-property: scale);

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}


.is-hidden {
    visibility: hidden;
    cursor: pointer;
}

.is-hidden .modal {
    scale: 0;
}

/* Выравнивание кнопки относительно мод.окна */
.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &__icon {
        display: flex;
        fill: $logo-header;
        @include transition ($transition-property: fill);
        cursor: pointer;
    }

    &:hover &__icon,
    &:focus &__icon {
        fill: $accent-color;
        @include transition ($transition-property: fill);

    }
}

.form {
    position: relative;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-align: left;

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(30 / 20);
        text-align: center;
        color: $title-text-color;
        margin-bottom: 12px;

        @media screen and (min-width: 1200px) {
            line-height: calc(23 / 20);
        }
    }

    &__label {
        display: block;
        margin: 10px auto 4px;
    }


    &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;

        @include transition ($transition-property: border);

        padding-left: 42px;
        height: 40px;
        width: 100%;
    }

    &__input:hover,
    &__input:focus {
        border: 1px solid $accent-color;
    }

    &__input:hover+&__icon,
    &__input:focus+&__icon {
        fill: $accent-color;
    }


    #comment {
        font-family: 'Roboto';
        padding-left: 16px;
        padding-top: 12px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        resize: none;
        width: 100%;
        height: 130px;
    }

    &__icon-wrap {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: absolute;
        left: 12px;
        fill: $logo-header;
    }
}


.checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &__link {
        display: inline-block;
        text-decoration: underline;
        color: $accent-color;

    }

    &__text {
        font-size: 12px;
        line-height: calc(14/12);

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(24/14);
        }

    }

    &__castom-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid $title-text-color;
        margin-right: 7px;

        @include transition ($transition-property: border);
    }

    &__icon-check {
        cursor: pointer;
        opacity: 0;
        transition-property: opacity;
        @include transition ($transition-property: opacity);


    }

    &:checked+&__label &__castom-icon {
        background: $accent-color;
        border-color: $accent-color;
    }

    &:checked+&__label &__castom-icon &__icon-check {
        opacity: 1;
    }

    &__label {
        display: flex;
        gap: 7px;

        @include transition ($transition-property: background);
    }

}