.our-work {
    @media screen and(max-width: 767px) {
        display: none;
        
    }
}
.our-work__list {
    gap: 30px;
}

.our-work__container {
    position: relative;
    overflow: hidden;
}
.our-work__text {
    position: absolute;
    width: 100%;
    height: 70px;

    left: 0;
    bottom: 0;

    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
}