
.buttons {
    margin-bottom: 50px;
    
    &__item:not(:first-child) {
        margin-left: 8px;
    }
}
.portfolio-button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    color: $title-text-color;
    background: $team-background;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    /* font-family: inherit; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;

    @include transition ($transition-property: background);

    &.active,
    &:hover,
    &:focus {
        color: $logo-footer;
        background: $accent-color;
        box-shadow: $portfolio-box-shadow;
    }

}
