.social-list-menu {
    display: flex;
    gap: 5px;

    &__ltem:not(:last-child) {
        padding-left: 9px;
        padding-right: 9px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__ltem:last-child {
        padding-left: 9px;
    }

    &__ltem:first-child {
        padding-left: 0;
    }

    &__link {
        display: inline-block;
        @include font-style(
            $font-family:'Roboto-Medium',
            $font-weight: 500,
            $font-size: 4vw,
            $line-height: calc(20 / 14),
            $letter-spacing: 0.02em,
            $color: $accent-color );
    }

    @media screen and (min-width: 481px) {

        &__link {
            @include font-style(
            $font-family:'Roboto-Medium',
            $font-weight: null,
                $font-size: 18px,
                $line-height: calc(22/18),
                $letter-spacing: null,
                $color: null);
        }
    }
}