// 400
@font-face {
    font-family: 'Roboto';
    src: url(../sass/fonts-ttf/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

// 500
@font-face {
    font-family: 'Roboto';
    src: url(../sass/fonts-ttf/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

// 700
@font-face {
    font-family: 'Roboto';
    src: url(../sass/fonts-ttf/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

// 900
@font-face {
    font-family: 'Roboto';
    src: url(../sass/fonts-ttf/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

// 
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../sass/fonts-ttf/Raleway-Bold.ttf);
}